# Виртуальное окружение (папка с установленными библиотеками)
.venv/
venv/
ENV/
env/

# Кэш Python (компилированные файлы)
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы настроек среды разработки (VS Code и PyCharm)
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp

# Логи и отчеты об ошибках
*.log
pip-log.txt
crash_dump.*

# Файлы операционной системы
.DS_Store
Thumbs.db

# Локальные файлы конфигурации и секреты (базы данных, токены)
.env
*.db
*.sqlite3
